$primary: #bc28f4;
$foreground: #222;
$background: #e4e4e4;
.root {
  width: 100%;
  height: 100%;
  background-color: $background;
}

.projects {
  padding: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 0.1rem;

  background-color: $background;

  ul {
    width: 100%;
    height: 100%;
  }
}

$focused-color: #1284e6;
.project {
  font-weight: bold;
  color: $foreground;

  width: 100%;
  margin: 1rem auto;
  padding: 0.5rem;

  border-radius: 0.5rem;
  text-align: center;

  transition: background 0.25\s;
  &:hover {
    background-color: rgba($color: $focused-color, $alpha: 0.3);
  }

  &.selected {
    transition: background 0.25s ease-in-out;
    background-color: rgba($color: $focused-color, $alpha: 0.8);
  }
}

.add-project {
  min-width: 8rem;
  margin: 1rem auto;
  padding: 0.5rem auto;

  color: $background;
  text-align: center;
  font-weight: bold;

  background-color: $primary;

  cursor: pointer;

  transition: all 0.25s;
  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}
