$background: #222;
$foreground: #efefef;
.organizations {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  background-color: $background;

  overflow-y: scroll;
  overflow-x: hidden;
}

$border-thickness: 3px;
%list-item {
  border: $border-thickness solid transparent;
  border-radius: 50%;

  width: 5rem;
  height: 5rem;
  margin: 0.2rem auto;
}

.org-image {
  @extend %list-item;
  object-fit: cover;

  transition: border-color 0.25s;
  &:hover {
    border-color: rgba($color: $foreground, $alpha: 0.5);
  }

  &.selected {
    transition: border-color 0.25s ease-in-out;
    border-color: $foreground;
  }
  cursor: pointer;
  z-index: 500;
}

.add-button {
  @extend %list-item;
  color: $foreground;
  font-size: 1.3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: $border-thickness solid $foreground;

  transition: all 0.25s ease-in-out;
  &:hover {
    $hover-color: $foreground;
    background-color: $hover-color;
    color: $background;
  }
  cursor: pointer;
  z-index: 500;
}

.organization {
  position: relative;
  .organization-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #1284e6;
    color: $foreground;
    font-size: 0.5rem;
    font-weight: bold;
  }
}
