<ul class="organizations" (click)="clear()">
  <li *ngFor="let organization of organizations | async" class="organization">
    <img
      [src]="organization.icon"
      [alt]="organization.name"
      class="org-image"
      [ngClass]="{ selected: isSelected(organization) | async }"
      (click)="selectOrganization($event, organization.id)"
    />
    <button
      *ngIf="isSelected(organization) | async"
      class="organization-button"
      (click)="edit(organization)"
    >
      Edit
    </button>
  </li>
  <li class="add-button" role="button" (click)="addOrganization($event)">
    <fa-icon [icon]="plusIcon"></fa-icon>
  </li>
</ul>
