<form class="form" [formGroup]="formGroup" (submit)="save()">
  <h1>Create Project</h1>
  <fieldset>
    <label>
      Name:
      <input
        type="text"
        placeholder="Name of organization"
        formControlName="name"
      />
    </label>
    <label>
      Description:
      <input
        type="text"
        placeholder="Description of organization"
        formControlName="description"
      />
    </label>
  </fieldset>
  <button class="primary block" type="submit">Save</button>
</form>
