<div>
  <form [formGroup]="formGroup" (ngSubmit)="makeRequest()">
    <label>
      method:
      <input
        type="text"
        placeholder="e.g. GET POST etc"
        formControlName="method"
      />
    </label>
    <label>
      Path (alter base in src/environments):
      <input type="text" formControlName="path" />
    </label>
    <label>
      body:
      <textarea rows="5" formControlName="body"></textarea>
    </label>
    <button type="submit">Make request</button>
  </form>

  <p>Response:</p>
  <p *ngIf="resBody">"{{ resBody }}"</p>
  <p>Response Error:</p>
  <p *ngIf="resError">"{{ resError | json }}"</p>
</div>
