<div class="wrapper">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label>
        Username
        <input
          type="text"
          name="username"
          placeholder="enter username"
          required
          formControlName="username"
        />
      </label>
    </div>
    <div>
      <label>
        Password
        <input
          type="password"
          name="password"
          placeholder="enter password"
          required
          formControlName="password"
        />
      </label>
    </div>
    <div>
      <button type="submit">
        Login
      </button>
    </div>
  </form>
</div>
