$danger: #ff3b30;
.form {
  background-color: #222;
  color: #efefef;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  justify-content: space-between;
}

fieldset {
  border: none;
  margin: 1rem;
}

.block {
  display: block;
}

.error {
  text-align: center;
  background-color: red;
  color: white;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 0.5rem;
}

.upload-image {
  max-height: 100px;
  width: auto;
}

.delete-button {
  color: white;
  background-color: $danger;
}
