.chat-container {
  position: absolute;
  bottom: 0;
  right: 0;

  color: #222;
  background-color: #e4e4e4;

  height: 100%;
  width: 25vw;

  overflow: hidden;

  resize: both;

  transition: all 0.5s ease-in-out;
  &.collapsed {
    height: 4rem;
    color: #e4e4e4;
    background-color: #222;
  }
}

.chat-header {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 4rem;

  cursor: pointer;

  h3 {
    margin: 0 1rem;
  }
}

.chat-body {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
