$primary: #1284e6;
$background: #efefef;
.project-detail {
  position: relative;

  width: 100%;
  height: 100%;

  background-color: $background;
}

.title {
  display: flex;
  padding: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.chat {
  overflow: hidden;
}

.add-project-detail {
  min-width: 8rem;
  margin: 1rem auto;
  padding: 0.5rem auto;

  color: $background;
  text-align: center;
  font-weight: bold;

  background-color: $primary;

  cursor: pointer;

  transition: all 0.25s;
  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}
