.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: white;
  height: 3rem;
  box-shadow: 2px 0px 4px #222;
}

.logo {
  max-height: 100%;
  height: 3rem;
}

.links {
  display: flex;
  flex-direction: row;

  a {
    text-decoration: none;
    color: #121212;
    font-weight: bold;

    &:hover {
      color: #bc28f4;
    }
    &.active {
      color: #bc28f4;
    }
  }

  li {
    margin: 0 0.3rem;
  }
}
