.dashboard {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: 5rem 20% 1fr;
  grid-template-areas: "organizations projects main";
}

.organizations {
  grid-area: organizations;
  overflow: scroll;
}

.projects {
  grid-area: projects;
  overflow: scroll;
}

.main {
  grid-area: main;
  position: relative;
  overflow: scroll;

  .collapse-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0;
    height: 1.3rem;
    width: 1.3rem;
    box-shadow: 2px 2px 2px #444;
    z-index: 999;
  }
}
