.dashboard {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 5rem 20% 1fr;
  grid-template-areas: "organizations projects main";
}

.organizations {
  grid-area: organizations;
}

.projects {
  grid-area: projects;
}

.main {
  grid-area: main;
}
